.avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.avatar-big {
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.border-box {
    box-sizing: border-box;
}

.min-w-150 {
    min-width: 150px;
}

.w-0 {
    width: 0%;
}